<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col hvr-grow" routerLink="/admin/gestion-usuarios">
        <div class="card carta bg-dark">
            <div class="bg uwu"></div>
            <div class="content">
                <div class="d-flex justify-content-center align-items-center py-3">
                    <img src="assets/img/user-admin.svg" class="card-img-top w-75" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title h3 text-center text-white">Gestión de usuarios</h5>
                </div>
            </div>
        </div>
    </div>
</div>
